<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href=’https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel=”stylesheet”>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Lil' Baby Names</title>
  </head>
  <link rel="stylesheet" href="styles.css">
  <body>
    <h1>Lil' Baby Names</h1>
    <div id="app" class="parent">
      <div id="app" class="center">
        <div id="app" class="container-fluid">
          <div id="app" class="row no-gutters justify-content-center row1">
               <div id="app" class="col-xs-12 col-sm-7 col-md-5 col-lg-1 mx-2">
              <div id="app" class="form-group">
                <form action="" style="width: auto; margin: auto">
                  <div for="name" class="control-label">Min</div>
                  <input v-model="minLength" placeholder="" size="5" class="form-control"/>
                </form>
              </div>
            </div>
            <div id="app" class="col-xs-12 col-sm-7 col-md-5 col-lg-1 mx-2">
              <div id="app" class="form-group">
                <form action="" style="width: auto; margin: auto">
                  <div for="name" class="control-label">Max</div>
                  <input v-model="maxLength" placeholder="" size="5" class="form-control"/>
                </form>
              </div>
            </div>
            <div id="app" class="col-xs-12 col-sm-7 col-md-5 col-lg-2 mx-2">
              <div id="app" class="form-group">
                <form action="" style="width: auto; margin: auto">
                  <div for="name" class="control-label">Genders</div>
                  <select v-model="gender" class="form-control">
                    <option value="male,mostly-male,neutral,mostly-female,female">All Genders</option>
                    <option value="male,mostly-male,gender-neutral">All Male</option>
                    <option value="male">Most Masculene</option>
                    <option value="male,mostly-male">Medium Masculene</option>
                    <option value="gender-neutral">Gender Neutral</option>
                    <option value="female,mostly-female">Medium Femenine</option>
                    <option value="female">Most Feminine</option>
                    <option value="gender-neutral,female,mostly-female">All Female</option>
                    <select/>
                </form>
              </div>
            </div>
            <div id="app" class="col-xs-12 col-sm-7 col-md-5 col-lg-2 mx-2">
              <div id="app" class="form-group">
                <form action="" style="width: auto; margin: auto">
                  <div for="name" class="control-label">Sort</div>
                  <select v-model="sortBy" class="form-control">
                    <option value="alpha">A-Z</option>
                    <option value="alpha-desc">Z-A</option>
                    <option value="freq-asc">Least Common</option>
                    <option value="freq-desc">Most Common</option>
                    <option value="length">Shortest</option>
                    <option value="length-desc">Longest</option>
                    <select/>
                </form>
              </div>
            </div>
            <div id="app" class="col-xs-12 col-sm-7 col-md-5 col-lg-2 mx-2">
              <div id="app" class="form-group">
                <form action="" style="width: auto; margin: auto">
                  <div for="name" class="control-label">Starts With</div>
                  <input v-model="startsWith" placeholder="" size="15" class="form-control"/>
                </form>
              </div>
            </div>
            <div id="app" class="col-xs-12 col-sm-7 col-md-5 col-lg-2 mx-2">
              <div id="app" class="form-group">
                <form action="" style="width: auto; margin: auto">
                  <div for="name" class="control-label">Contains</div>
                  <input v-model="contains" placeholder="" size="15" class="form-control"/>
                </form>
              </div>
            </div>
            <div id="app" class="col-xs-12 col-sm-7 col-md-5 col-lg-2 mt-4">
              <div id="app" class="form-group">
                <button id="btn" class="btn btn-warning" v-on:click="findNames">Go</button>
              </div>
            </div>
          </div>
          <div id="app" class="center row2">
            <p>Result:</p>
              
            <table id="app"
                   class="table table-striped table-hover">
                <tr v-for="name in names">
                       <td></td>
                  <td>{{ name }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    <script src="lil-baby-names.js"></script>
    <script src="table.js"></script>
  </body>
