<html>
<head>
  <meta charset="utf-8">
  <title>Lil' Baby Names</title>
</head>
<link rel="stylesheet" href="styles.css">
<body>
  <h1>Lil' Baby Names</h1>
  <div id="app">
    <input v-model="minLength" placeholder="Minimum Length" size="3"/>
    <input v-model="maxLength" placeholder="Maximum Length" size="3"/>
    <select v-model="gender">
      <option value="male,female">All Genders</option>
      <option value="male,gender-neutral">All Male</option>
      <option value="male">Most Masculene</option>
      <option value="mostly-male">Medium Masculene</option>
      <option value="gender-neutral">Gender Neutral</option>
      <option value="mostly-female">Medium Femenine</option>
      <option value="female">Most Feminine</option>
      <option value="gender-neutral,female">All Female</option>
      <select/>
      <select v-model="sortBy">
        <option disabled value="">sort by</option>
        <option value="alpha">A-Z</option>
        <option value="alpha-desc">Z-A</option>
        <option value="freq-asc">Least Common</option>
        <option value="freq-desc">Most Common</option>
        <option value="length">Shortest</option>
        <option value="length-desc">Longest</option>
        <select/>
        <input v-model="startsWith" placeholder="starts with" size="15"/>
        <input v-model="contains" placeholder="contains these letters" size="15"/>
        <button id="btn" class="" v-on:click="findNames">Go</button>
        <p>Result:</p>
        <ul>
          <li v-for="name in names">{{ name }}</li>
        </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
  <script src="lil-baby-names.js"></script>
</body>
